<div class="container">
  <h3 class="text-center">Atualizar</h3>
  <br>
  <form #f="ngForm">
    <div class="form-group">
      <label class="col-2 col-form-label">Preço</label>
      <div class="col-12">
        <input name="preco" class="form-control" type="number" [(ngModel)]="produto.preco" #preco="ngModel" required placeholder="Preço">
      </div>
    </div>
    <button class="btn btn-secondary btn-lg btn-block" type="submit" [disabled]="f.invalid" (click)="onSubmit(f)">Atualizar produto</button>
  </form>
</div>
