<!--app-navbar></app-navbar>
<button type="button" class="btn" routerLink="/produtos">Listar Produtos</button>
<div class="btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<button type="button" class="btn" routerLink="/produtos">Listar Produtos</button
-->
<button type="button" class="btn" routerLink="/painel-de-controle">Painel de Controle</button>
<router-outlet></router-outlet>
