<div class="container-fluid text-center">
  <div class="row justify-content-around">
    <div class="col-6 background color-1" routerLink="/produto/cadastrar">
      <h1 class="display-4 text-center">Adicionar Produto
      </h1>
    </div>
    <div class="col-6 background color-2" routerLink="/produtos">
      <h1 class="display-4 text-center">Listar Produtos
      </h1>
    </div>
    <div class="col-6 background color-2" routerLink="/lote/cadastrar">
      <h1 class="display-4 text-center">Criar Lote
      </h1>
    </div>
    <div class="col-6 background color-1" routerLink="/lotes">
      <h1 class="display-4 text-center">Listar Lotes
      </h1>
    </div>
    <div class="col-6 background color-1" routerLink="/desconto">
      <h1 class="display-4 text-center">Atribuir Desconto
      </h1>
    </div>
    <div class="col-6 background color-2" routerLink="/relatorio">
      <h1 class="display-4 text-center">Relatório
      </h1>
    </div>
    <div class="col-6 background color-2" routerLink="/venda/registrar">
      <h1 class="display-4 text-center">Registrar Venda
      </h1>
    </div>
    <div class="col-6 background color-1" routerLink="/venda/cancelar">
      <h1 class="display-4 text-center">Cancelar Venda
      </h1>
    </div>
  </div>
</div>

