.background {
  color: white;
  padding: 20px;
}

.color-1 {
  background-color: #6C3483;
}

.color-2 {
  background-color: #C0392B;
}

.col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  height: 100vh;
}
