.background {
  color: white;
  padding: 20px;
}

.background:hover {
  cursor: pointer;
}

.color-1 {
  background-color: #2E3D53;
}

.color-2 {
  background-color: #2D9068;
}

.col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  height: 100vh;
}
