<div class="container" *ngIf="produtos.length > 0">
  <h4><span class="badge badge-secondary"><i class="material-icons">sort</i></span></h4>
  <table class="table text-center table-hover">
    <thead>
      <tr>
        <th width="15%" scope="col">Produto</th>
        <th width="15%" scope="col">Categoria</th>
        <th width="15%" scope="col">Fabricante</th>
        <th width="15%" scope="col">Código de Barra</th>
        <th width="15%" scope="col">Disponibilidade</th>
        <th width="15%" scope="col">Preço</th>
        <th width="10%" scope="col"></th>
        <th width="10%" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.nome }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.fabricante }}</td>
        <td>{{ produto.codigoBarra }}</td>
        <td><i class="material-icons disponivel"
               *ngIf="consultaDisponibilidadeProduto(produto.id)">
               done
            </i>
            <i class="material-icons indisponivel"
               *ngIf="!consultaDisponibilidadeProduto(produto.id)">
               clear
            </i>
        </td>
        <td>{{ produto.preco }}</td>
        <td><i class="material-icons clickable deleta" (click)="deletaProduto(produto.id)">delete</i></td> 
        <td><i class="material-icons clickable edita" [routerLink]="['/produto', produto.id]">mode_edit</i></td> 
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="produtos.length == 0" style="background-color:chocolate;color:crimson">
  <h1 class="text-center">oi n tem produto</h1>
</div>